* {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 50px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bold;
}

nav ul {
      padding-inline-start: 0;
}

.clear:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 599px) {
  .menubtnwrap {
    height: 50px;
  }

  .menuwrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #81d8d0;
  }

  .menubtn {
    z-index: 2;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menubtnunderlay {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
  }

  .menu {
    display: none;
  }

  .menubtn:checked + .menu {
    display: block;
    transition: 1s;
  }

  .menubtnunderlay > img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  nav ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  nav ul:last-child {
    margin-bottom: 0.5em;
  }

  nav hr {
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .menubtnwrap, .menubtn, .menu > hr {
    display: none;
  }

  nav {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #81d8d0;
    max-height: 50px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  nav li {
    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}



footer {
  background-color: #81d8d0;
  color: white;
  padding-bottom: 1em; /* Covers margin from last element */
}
