* {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

header + main {
  margin-top: 50px;
}

/* nav */
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(129,216,208,1);
  max-height: 50px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bold;
  text-shadow: -1px 1px rgba(243,244,247,1);
}

nav ul {
      padding-inline-start: 0;
}

.clear:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 599px) {
  .menubtnwrap {
    height: 50px;
  }

  .menuwrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(129,216,208,1);
  }

  .menubtn {
    z-index: 3;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu {
    display: none;
  }

  .menubtn:checked + .menu {
    display: block;
    transition: 1s;
  }

  .menubtnwrap img {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 2px;
    border: solid 2px black;
    border-radius: 6px;
  }

  nav ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  nav ul:last-child {
    margin-bottom: 0.5em;
  }

  nav hr {
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .menubtnwrap, .menubtn, .menu > hr {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav li {
    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

/* Main */
main {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main * {
  max-width: 1200px;
}

main p {
  max-width: 800px;
  text-align: justify;
}

/* Table */
table {
  margin: 2em 0.5em 2em 0.5em;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  border: solid 1px black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
th {
  font-size: 1.1em;
  text-decoration: underline;
}
tbody tr:nth-child(odd) {
  background-color: rgba(243,244,247,1);
}

/* Images */
figure {
  margin: 0px;
}

#fallenastro img {
  max-width: 100%;
  width: 600px;
  border-radius: 1em;
}
#fallenastro figcaption {
  margin-top: 0;
  font-size: 0.8em;
}

.astrocards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.astrocards ul {
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.astrocard {
  clear: both;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(243,244,247,1);
  border-radius: 1em;
  margin: 1em;
}

.astrocard img {
  max-width: 100%;
  width: 240px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.astrocard figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  width: 250px;
}

.astrocard figcaption {
  font-size: 1.2em;
}

.astrocard p {
  display: none;
}

/* top link & target */
#top {
  position:relative;
  top:-50px;
}

.toplink {
  /* top link */
  text-decoration: none;
  color: black;
  padding: 0.25em;
  border: solid 2px rgba(243,244,247,1);
  border-radius: 0.25em;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: rgba(243,244,247,0.65);
  z-index: 1;
}

footer a:hover {
  font-weight: bold;
  text-shadow: -1px 1px rgba(243,244,247,1);
}

footer {
  background-color: rgba(129,216,208,1);
  color: white;
  padding-bottom: 1em; /* Covers margin from last element */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer li {
  list-style-type: none;
}

footer .sources, footer .contact {
  flex-grow: 1;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

footer ul {
  padding-inline-start: 0;
}

.footer_container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sources a {
  text-decoration: none;
  color: black;
}

footer p {
  text-decoration: underline;
  color: black;
}

.contact a {
  text-decoration: none;
  color: black;
  background-color: rgba(243,244,247,1);
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 0.5em;
}

.contact small {
  color: black;
}
